<div class="page-title">
  <h2 class="entry-title">SHOPPING</h2>
</div>
<div class="container" style="margin-bottom:30px;">
  <ul style="list-style-type: none;">
    {% for link in linklists.Footer-Shopping-Menu.links %}
      <li><a href="{{link.url}}"> {{ link.title }} </a></li>
    {% endfor %}
  </ul>
</div>
