<div class="container">
  <div class="row">
    <div class="col-sm-9 col-xs-12">
      <div class="col-main">
        <div class="static-contain">
          <div class="page-title">
            <h2 class="entry-title"> Shipping </h2>
          </div>
          <div class="page-content">
            <h5>*Please note: Our distribution warehouse is located in Vancouver, WA USA and all orders are calculated in usd currency.</h5>
            <p>&nbsp;</p>
            <h5>
              <strong style="line-height: 1.5em;">We ship Monday-Friday (except major U.S. holidays). </strong>
              <strong style="line-height: 1.5em;">Please see below for Standard and Expedited shipping times for Retail Orders:</strong>
            </h5>
            <div>
              <div class="pdesc">
                <ul class="weekly-shipping">
                  <li>
                    <strong>Monday-Friday</strong>: Standard and Express/Overnight orders received before 1:00 PM PST will be shipped same day.
                  </li>
                  <li>
                    <strong>Weekend Orders</strong> (Friday 3 PM PST through Sunday) will be shipped the following Monday.
                  </li>
                  <li><strong>Shipping Carriers</strong>: USPS &amp; FedEx.</li>
                </ul>
              </div>
            </div>
            <h5><strong>Free Standard Shipping anywhere in the U.S. on orders more than $75.</strong></h5>
            <p class="shipping-way">Orders are shipped via USPS Priority Mail or 1st class – at your door in 5-7 days. On larger orders (ex. 2 waders+, we ship via FedEx ground 5-7 days). If you need them quickly, choose the Express option (1-2 day or overnight guaranteed). For guaranteed overnight, orders must be received by 1:00 PM Pacific Standard Time (Monday-Friday).</p>
            <p class="shipping-way">1-2 Day/Overnight orders are based on weight, please see the following:</p>
            <table border="1" cellspacing="0" cellpadding="0" class="table-model">
              <tbody>
                <tr>
                  <td valign="top" width="103"><b>Weight</b></td>
                  <td valign="top" width="90"><b>1-2 Day</b></td>
                  <td valign="top" width="90"><b>Overnight</b></td>
                </tr>
                <tr>
                  <td valign="top" width="103">0-1.9 lbs.</td>
                  <td valign="top" width="90">$30</td>
                  <td valign="top" width="90">$50</td>
                </tr>
                <tr>
                  <td valign="top" width="103">2-3.9 lbs.</td>
                  <td valign="top" width="90">$35</td>
                  <td valign="top" width="90">$60</td>
                </tr>
                <tr>
                  <td valign="top" width="103">4-5.9 lbs.</td>
                  <td valign="top" width="90">$40</td>
                  <td valign="top" width="90">$75</td>
                </tr>
                <tr>
                  <td valign="top" width="103">6-7.9 lbs.</td>
                  <td valign="top" width="90">$50</td>
                  <td valign="top" width="90">$85</td>
                </tr>
                <tr>
                  <td valign="top" width="103">8-9.9 lbs.</td>
                  <td valign="top" width="90">$60</td>
                  <td valign="top" width="90">$100</td>
                </tr>
                <tr>
                  <td valign="top" width="103">10-13.9 lbs.</td>
                  <td valign="top" width="90">$80</td>
                  <td valign="top" width="90">$130</td>
                </tr>
                <tr>
                  <td valign="top" width="103">14-17.9 lbs.</td>
                  <td valign="top" width="90">$100</td>
                  <td valign="top" width="90">$155</td>
                </tr>
                <tr>
                  <td valign="top" width="103">18 &amp; up.</td>
                  <td valign="top" width="90">$130</td>
                  <td valign="top" width="90">$180</td>
                </tr>
              </tbody>
            </table>
            <p>&nbsp;</p>
            <h5><strong>Shipping to Canada</strong></h5>
            <p class="shipping-way">For orders to Canada, we primarily use USPS. First Class and Priority Mail can vary between 10-20 business days to arrive, sometimes longer depending on the area. Priority Mail typically takes between 4-8 business days to arrive. Shipping charges are based on weight and <strong>do not</strong> include duty fees. The <strong>duties fee incurred upon import to your country are variable to your country laws and regulations and are not reimbursable by Oaki.</strong> We, unfortunately, cannot provide you with a duties charge quote as that charge is set up by your country. If you have questions about your countries charges for importing, please contact your countries customs office.</p>
            <p class="shipping-way">To adjust for lighter shipments, tiers have been created based on product weight:</p>
            <table border="1" cellspacing="0" cellpadding="0" class="table-model">
              <tbody>
              <tr>
                <td width="115"><b>Weight</b></td>
                <td width="90"><b>First Class &amp; Priority</b></td>
                <td width="78"><b>Express</b></td>
              </tr>
              <tr>
                <td valign="top" width="115">0-0.9 lbs.</td>
                <td valign="top" width="90">$10 or $29</td>
                <td valign="top" width="78">$55</td>
              </tr>
              <tr>
                <td valign="top" width="115">1-1.9 lbs.</td>
                <td valign="top" width="90">$15 or $29</td>
                <td valign="top" width="78">$55</td>
              </tr>
              <tr>
                <td valign="top" width="115">2-3.9 lbs.</td>
                <td valign="top" width="90">$20 or $29</td>
                <td valign="top" width="78">$60</td>
              </tr>
              <tr>
                <td valign="top" width="115">4-7.9 lbs.</td>
                <td valign="top" width="90">$29</td>
                <td valign="top" width="78">$65</td>
              </tr>
              <tr>
                <td valign="top" width="115">8-11.9 lbs.</td>
                <td valign="top" width="90">$39</td>
                <td valign="top" width="78">$75</td>
              </tr>
              <tr>
                <td valign="top" width="115">12-15.9 lbs.</td>
                <td valign="top" width="90">$49</td>
                <td valign="top" width="78">$85</td>
              </tr>
              <tr>
                <td valign="top" width="115">16 lbs. &amp; up.</td>
                <td valign="top" width="90">$69</td>
                <td valign="top" width="78">$95</td>
              </tr>
              </tbody>
            </table>
            <h5><strong>Packaging Information</strong></h5>
            <p class="shipping-way">In an effort to keep the outdoors enjoyable and clean, we recycle and re-use all our boxes used for our inventory and warehouse materials. Most of our shipments are packaged using standard USPS boxes and envelopes. We also re-use many of our inventory boxes for packaging medium to larger orders. Please contact us with any concerns about our shipping methods and packaging materials.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
      {% include 'footer-menu-list'%}
    </div>
  </div>
</div>
