<div class="container">
  <div class="row">
    <div class="col-sm-9 col-xs-12">
      <div class="col-main">
        <div class="static-contain">
          <div class="page-title">
            <h2 class="entry-title">OUTDOOR SCHOOLS</h2>
          </div>
          <div class="page-content">
            <p class="sub-content">OAKI is partnering with outdoor schools worldwide to raise awareness of the importance of children spending time outside. We believe exploring and learning in the outdoors is an essential part of childhood development, and opens doors to greater possibilities for learning.</p>
            <p class="sub-content">Our kids’ rain gear products allow children limitless possibilities for outdoor exploration. We support the efforts of outdoor schools by supplying top-quality, yet affordable, outdoor gear to allow children to explore their natural environment while staying safe and dry.</p>
            <p class="sub-content">For schools wanting to participate in our Outdoor School Program we offer a unique coupon code for purchases made through our online store.</p>
            <p class="sub-content">To partner with us, please contact us at 360-573-5000 or email at info@oaki.com.</p>
            <p class="sub-content">Must WATCH!</p>
            <p>
              <iframe width=100% height="450" src="https://www.youtube.com/embed/VQO2DZ-7XZE?feature=oembed" frameborder="0" allowfullscreen=""></iframe>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
      <div>
        <div class="block-title">Learn More</div>
        <div style="margin:0 auto;" class="pxFormGenerator" id="y-ch3N0HJYee19oucjxK9w"></div>
      </div>
    </div>
  </div>
</div>
