<div class="container">
  <div class="row">
    <div class="col-sm-9 col-xs-12">
      <div class="col-main">
        <div class="static-contain">
          <div class="page-title">
            <h2 class="entry-title">FAQs</h2>
          </div>
          <div class="page-content">
            <p class="sub-content"><strong>Q: Which Children’s Waders should I purchase, Breathable or Neoprene?</strong></p>
            <p class="sub-content"><strong>A</strong>: This has become a very common question- to begin, all Oaki Waders are completely waterproof and come with rubber boots which are fully attached to the actual wader. The only significant difference is the fabrication: Breathable and Neoprene. Neoprene insulates, acting much like a wet-suit and will keep your child warm whereas our Breathable Waders do not. Generally speaking, Neoprene Waders are typically used from Autumn, throughout Winter, and into Spring, and Breathable during the Spring and Summer. So really, most of the decision comes down to the climate and season. Feel free to contact us with any additional questions at: <a href="mailto:info@oaki.com">info@oaki.com</a>.</p>
            <p class="sub-content"><strong>Q: Which size of waders should I purchase for my child?</strong></p>
            <p class="sub-content"><b>A:</b> Our wader sizing is primarily based on age, and the sizing numbers correspond to the average age suggested. For example, a size 2T should generally fit a 2 year-old through their second year. Likewise, a size 7 will generally fit the average 7 year-old through their seventh year. If you’re unsure about a size, it’s usually best to go up in size, allowing extra room for growth. For clarity, see our wader sizing charts below the product description as some sizes differ between breathable and neoprene.</p>
            <div class="page-editlink">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
      <div class="col-main">
        <div class="static-contain">
          {% include 'footer-menu-list' %}
          <div>
            <div class="block-title">Have a Question?</div>
            <div style="margin:0 auto;" class="pxFormGenerator" id="k3t_L5PfJghfY0mkRRgJiA"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
