<div class="container">
  <div class="row">
    <div class="col-sm-9 col-xs-12">
      <div class="col-main">
        <div class="static-contain">
          <div class="page-title">
            <h2 class="entry-title">OAKI STORY</h2>
          </div>
          <div class="page-content">
            <h1><b>OAKI </b></h1>
            <h2><span style="font-weight: 400;">Where explorers are born.</span></h2>
            <p class="sub-content">&nbsp;</p>
            <p class="sub-content"><span style="font-weight: 400;">In order to truly enjoy the outdoors, it takes great gear. Ten years ago, a mom went looking for kid and toddler rain gear for her twin boys. She had always held a deep connection with the outdoors and wanted to share this love with her children. Unfortunately, she couldn’t find durable or affordable outdoor gear for her young kids!</span></p>
            <p class="sub-content"><span style="font-weight: 400;">She decided to do something about it. And so the Oaki adventure began!</span></p>
            <p class="sub-content"><span style="font-weight: 400;">We are in the trenches (literally) that our kids dig, and we want them to keep doing just that. We believe in being outdoors, whether hiking a muddy trail, wading through streams looking for frogs, jumping in puddles, or just playing in your own backyard. These activities nurture creativity, a love for nature and life, and a true sense of freedom. </span></p>
            <p class="sub-content"><span style="font-weight: 400;">We have spent the past decade perfecting our kids &amp; toddler rain and snow gear. Between our best-selling rain boots and our unique kids rainsuits and waders, we have become a “head-to-toe” outdoor apparel brand for kids.</span></p>
            <p class="sub-content"><span style="font-weight: 400;">We have the largest variety of designs and patterns of children’s rubber rain boots to ensure that your little ones find a style they love, with the best quality and price you can find. We also work with hundreds of outdoor schools to provide children with the best gear to have experiences outdoors that will foster a lifetime of adventure and learning!</span></p>
            <p>&nbsp;</p>
            <h2><b>OAKIWEAR to OAKI</b></h2>
            <p>&nbsp;</p>
            <p class="sub-content"><span style="font-weight: 400;">Since new ownership in 2015, the company has continued to quickly expand and we are finessing our brand to become the forefront in your mind of children’s outdoor gear.</span></p>
            <p class="sub-content"><span style="font-weight: 400;">Oakiwear is now Oaki. We’ve realized… it’s simple. Highest quality, lowest prices, widest variety. So we wanted to reflect that simplicity as we strive for those values in making our company the lifestyle brand for your family.</span></p>
            <p class="sub-content"><span style="font-weight: 400;">We are here to help you say “oaki doki” the next time your kids hope to explore the outdoors. </span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
      <div class="col-main">
        <div class="static-contain">
          <div class="page-title">
            <h2 class="entry-title">SHOPPING</h2>
          </div>
          <div class="page-content">
            <p><a href="https://www.google.com/maps/place/3639+W+2150+S,+West+Valley+City,+UT+84120/@40.7240306,-111.9806285,17z/data=!3m1!4b1!4m5!3m4!1s0x8752f337af5921af:0xa345c5432178f435!8m2!3d40.7240306!4d-111.9784398" target="_blank" rel="noopener">3639 W 2150 S<br>
            West Valley City, UT 84120</a></p>
            <p> <a href="tel:3605735000">360-573-5000</a> </p>
            <p><a href="mailto:info@oaki.com">info@oaki.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
