<div class="container">
  <div class="row">
    <div class="col-sm-9 col-xs-12">
      <div class="col-main">
        <div class="static-contain">
          <div class="page-title">
            <h2 class="entry-title"> OAKI IN ACTION PHOTO GALLERY </h2>
          </div>
          <div class="page-content">
            <p class="sub-content">Thank you to our wonderful customers for continually sending in great photos of our gear in ACTION. We couldn’t do it without you!</p>
            <p class="sub-content">-Enjoy</p>
            <div class="instagram-show-images photo-gallery-instagram-section">
              <div class="container">
                <div class="elfsight-sapp-1af48fb0-f479-11e7-8fd2-916edc9121f0" style="margin-bottom: 2%;"></div>
              </div>
            </div>
            <div id="gallery-1" class="gallery galleryid-22083 gallery-columns-4 gallery-size-thumbnail">
              <div class="gallery-content-container">
              <figure class="gallery-item">
                <div class="gallery-icon portrait">
                  <a href="https://cdn.shopify.com/s/files/1/2571/3660/files/trout-labeling-1.jpg?15414139996802780029" data-slb-active="1" data-slb-asset="336990573" data-slb-internal="0" data-slb-group="22083"><img width="150" height="150" src="https://cdn.shopify.com/s/files/1/2571/3660/files/trout-labeling-1-150x150.jpg?8617766970710170406" class="attachment-thumbnail size-thumbnail" alt=""></a>
                </div>
              </figure>
              <figure class="gallery-item">
                <div class="gallery-icon landscape">
                  <a href="https://cdn.shopify.com/s/files/1/2571/3660/files/Childrens_Rainboot_Fireman_Rescue_Left-1-301x366.jpg?15414139996802780029" data-slb-active="1" data-slb-asset="1238979902" data-slb-internal="0" data-slb-group="22083"><img width="150" height="150" src="https://cdn.shopify.com/s/files/1/2571/3660/files/Chris-Nicolai-4-150x150.jpg?7089211883421523135" class="attachment-thumbnail size-thumbnail" alt=""></a>
                </div>
              </figure>
              <figure class="gallery-item">
                <div class="gallery-icon landscape">
                  <a href="https://cdn.shopify.com/s/files/1/2571/3660/files/OAKIWEAR-BLOG.jpeg?15414139996802780029" data-slb-active="1" data-slb-asset="92657424" data-slb-internal="0" data-slb-group="22083"><img width="150" height="150" src="https://cdn.shopify.com/s/files/1/2571/3660/files/OAKIWEAR-BLOG-150x150.jpeg?17949811760482823722" class="attachment-thumbnail size-thumbnail" alt=""></a>
                </div>
              </figure>
              <figure class="gallery-item">
                <div class="gallery-icon landscape">
                  <a href="https://cdn.shopify.com/s/files/1/2571/3660/files/20141110_145425-1024x576.jpg?15414139996802780029" data-slb-active="1" data-slb-asset="1396567717" data-slb-internal="0" data-slb-group="22083"><img width="150" height="150" src="https://cdn.shopify.com/s/files/1/2571/3660/files/20141110_145425-1024x576-150x150.jpg?10787287246631088677" class="attachment-thumbnail size-thumbnail" alt=""></a>
                </div>
              </figure>
              <figure class="gallery-item">
                <div class="gallery-icon landscape">
                  <a href="https://cdn.shopify.com/s/files/1/2571/3660/files/mountain-view_34d2e823-bcfc-4b3e-9fb6-774a68984108.jpg?14459709113043191652" data-slb-active="1" data-slb-asset="244815750" data-slb-internal="0" data-slb-group="22083"><img width="150" height="150" src="https://cdn.shopify.com/s/files/1/2571/3660/files/mountain-view-150x150.jpg?15746816930823461462" class="attachment-thumbnail size-thumbnail" alt=""></a>
                </div>
              </figure>
              <figure class="gallery-item">
                <div class="gallery-icon landscape">
                  <a href="https://cdn.shopify.com/s/files/1/2571/3660/files/Brian-B-5-1024x680.jpg?17200199176898690984" data-slb-active="1" data-slb-asset="1416608164" data-slb-internal="0" data-slb-group="22083"><img width="150" height="150" src="https://cdn.shopify.com/s/files/1/2571/3660/files/Brian-B-5-1024x680-150x150.jpg?13467062295070441680" class="attachment-thumbnail size-thumbnail" alt=""></a>
                </div>
              </figure>
              <figure class="gallery-item">
                <div class="gallery-icon landscape">
                  <a href="https://cdn.shopify.com/s/files/1/2571/3660/files/Cute-kids-rain-jackets.jpg?17200199176898690984" data-slb-active="1" data-slb-asset="398425760" data-slb-internal="0" data-slb-group="22083"><img width="150" height="150" src="https://cdn.shopify.com/s/files/1/2571/3660/files/Cute-kids-rain-jackets-150x150.jpg?8288396750024655138" class="attachment-thumbnail size-thumbnail" alt=""></a>
                </div>
              </figure><figure class="gallery-item">
                <div class="gallery-icon landscape">
                  <a href="https://cdn.shopify.com/s/files/1/2571/3660/files/Brian-B-13-Slider-Resize.jpg?17200199176898690984" data-slb-active="1" data-slb-asset="1839626474" data-slb-internal="0" data-slb-group="22083"><img width="150" height="150" src="https://cdn.shopify.com/s/files/1/2571/3660/files/Brian-B-13-Slider-Resize-150x150.jpg?17151677052376110556" class="attachment-thumbnail size-thumbnail" alt=""></a>
                </div>
              </figure>
              <figure class="gallery-item">
                <div class="gallery-icon landscape">
                  <a href="https://cdn.shopify.com/s/files/1/2571/3660/files/Schlotmann-1.jpeg?17200199176898690984" data-slb-active="1" data-slb-asset="377186666" data-slb-internal="0" data-slb-group="22083"><img width="150" height="150" src="https://cdn.shopify.com/s/files/1/2571/3660/files/Schlotmann-1-150x150.jpeg?13673587872971856369" class="attachment-thumbnail size-thumbnail" alt=""></a>
                </div>
              </figure>
              <figure class="gallery-item">
                <div class="gallery-icon portrait">
                  <a href="https://cdn.shopify.com/s/files/1/2571/3660/files/Maria-Klein-5-679x1024.jpg?17200199176898690984" data-slb-active="1" data-slb-asset="1497419026" data-slb-internal="0" data-slb-group="22083"><img width="150" height="150" src="https://cdn.shopify.com/s/files/1/2571/3660/files/Maria-Klein-5-679x1024-150x150.jpg?3621731097898526838" class="attachment-thumbnail size-thumbnail" alt=""></a>
                </div>
              </figure>
              <figure class="gallery-item">
                <div class="gallery-icon portrait">
                  <a href="https://cdn.shopify.com/s/files/1/2571/3660/files/Becky-and-Shane-3-768x1024.jpeg?17200199176898690984" data-slb-active="1" data-slb-asset="759220171" data-slb-internal="0" data-slb-group="22083"><img width="150" height="150" src="https://cdn.shopify.com/s/files/1/2571/3660/files/Becky-and-Shane-3-768x1024-150x150.jpeg?8448243941090672442" class="attachment-thumbnail size-thumbnail" alt=""></a>
                </div>
              </figure><figure class="gallery-item">
                <div class="gallery-icon landscape">
                  <a href="https://cdn.shopify.com/s/files/1/2571/3660/files/Becky-Hippensteel-4-1024x768.jpeg?17200199176898690984" data-slb-active="1" data-slb-asset="544077306" data-slb-internal="0" data-slb-group="22083"><img width="150" height="150" src="https://cdn.shopify.com/s/files/1/2571/3660/files/Becky-Hippensteel-4-1024x768-150x150.jpeg?331050765127268315" class="attachment-thumbnail size-thumbnail" alt=""></a>
                </div>
              </figure>
              <figure class="gallery-item">
                <div class="gallery-icon portrait">
                  <a href="https://cdn.shopify.com/s/files/1/2571/3660/files/Amanda-James-2-612x1024_440c1192-b29a-41a0-8895-2fa19a23eb04.jpg?17200199176898690984" data-slb-active="1" data-slb-asset="59610915" data-slb-internal="0" data-slb-group="22083"><img width="150" height="150" src="https://cdn.shopify.com/s/files/1/2571/3660/files/Amanda-James-2-612x1024-150x150.jpg?3521611224034499549" class="attachment-thumbnail size-thumbnail" alt=""></a>
                </div>
              </figure>
              <figure class="gallery-item">
                <div class="gallery-icon landscape">
                  <a href="https://cdn.shopify.com/s/files/1/2571/3660/files/Brooks-Emerson-5-1024x768.jpg?17200199176898690984" data-slb-active="1" data-slb-asset="2129209066" data-slb-internal="0" data-slb-group="22083"><img width="150" height="150" src="https://cdn.shopify.com/s/files/1/2571/3660/files/Brooks-Emerson-5-1024x768-150x150.jpg?1388273260238730948" class="attachment-thumbnail size-thumbnail" alt=""></a>
                </div>
              </figure><figure class="gallery-item">
                <div class="gallery-icon portrait">
                  <a href="https://cdn.shopify.com/s/files/1/2571/3660/files/Tiffany-Hartley-2.png?17200199176898690984" data-slb-active="1" data-slb-asset="1645934580" data-slb-internal="0" data-slb-group="22083"><img width="150" height="150" src="https://cdn.shopify.com/s/files/1/2571/3660/files/Tiffany-Hartley-2-150x150.png?17999631301484383784" class="attachment-thumbnail size-thumbnail" alt=""></a>
                </div>
              </figure>
              <figure class="gallery-item">
                <div class="gallery-icon portrait">
                  <a href="https://oaki.com/wp-content/uploads/2016/07/Brooks-Emerson-2-768x1024.jpg" data-slb-active="1" data-slb-asset="1699184270" data-slb-internal="0" data-slb-group="22083"><img width="150" height="150" src="https://cdn.shopify.com/s/files/1/2571/3660/files/Brooks-Emerson-2-768x1024-150x150.jpg?1527071555487037716" class="attachment-thumbnail size-thumbnail" alt=""></a>
                </div>
              </figure>
              <figure class="gallery-item">
                <div class="gallery-icon portrait">
                  <a href="https://cdn.shopify.com/s/files/1/2571/3660/files/Brooks-Emerson-1-768x1024.jpg?17200199176898690984" data-slb-active="1" data-slb-asset="916541532" data-slb-internal="0" data-slb-group="22083"><img width="150" height="150" src="https://cdn.shopify.com/s/files/1/2571/3660/files/Brooks-Emerson-1-768x1024-150x150.jpg?10792179603893332882" class="attachment-thumbnail size-thumbnail" alt=""></a>
                </div>
              </figure>
              <figure class="gallery-item">
                <div class="gallery-icon landscape">
                  <a href="https://cdn.shopify.com/s/files/1/2571/3660/files/Maria-Klein-2-1024x768.jpg?17200199176898690984" data-slb-active="1" data-slb-asset="338295212" data-slb-internal="0" data-slb-group="22083"><img width="150" height="150" src="https://cdn.shopify.com/s/files/1/2571/3660/files/Maria-Klein-2-1024x768-150x150.jpg?15322939809895317472" class="attachment-thumbnail size-thumbnail" alt=""></a>
                </div>
              </figure>
              <figure class="gallery-item">
                <div class="gallery-icon portrait">
                  <a href="https://cdn.shopify.com/s/files/1/2571/3660/files/skedaddle-4.jpeg?17200199176898690984" data-slb-active="1" data-slb-asset="721108736" data-slb-internal="0" data-slb-group="22083"><img width="150" height="150" src="https://cdn.shopify.com/s/files/1/2571/3660/files/skedaddle-4-150x150.jpeg?534407410194311897" class="attachment-thumbnail size-thumbnail" alt=""></a>
                </div>
              </figure>
              <figure class="gallery-item">
                <div class="gallery-icon landscape">
                  <a href="https://cdn.shopify.com/s/files/1/2571/3660/files/Christel-Eichner-3-1024x764.jpg?17200199176898690984" data-slb-active="1" data-slb-asset="1130177394" data-slb-internal="0" data-slb-group="22083"><img width="150" height="150" src="https://cdn.shopify.com/s/files/1/2571/3660/files/Christel-Eichner-3-1024x764-150x150.jpg?2277472033799864302" class="attachment-thumbnail size-thumbnail" alt=""></a>
                </div>
              </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
      <div class="col-main">
        <div class="static-contain">
          <div class="page-title">
            <h2 class="entry-title">CONTACT OAKI</h2>
          </div>
          <div class="page-content">
            <p><a href="https://www.google.com/maps/place/3639+W+2150+S,+West+Valley+City,+UT+84120/@40.7240306,-111.9806285,17z/data=!3m1!4b1!4m5!3m4!1s0x8752f337af5921af:0xa345c5432178f435!8m2!3d40.7240306!4d-111.9784398" target="_blank" rel="noopener">3639 W 2150 S<br>
            West Valley City, UT 84120</a></p>
            <p> <a href="tel:3605735000">360-573-5000</a> </p>
            <p><a href="mailto:info@oaki.com">info@oaki.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
