<div class="container">
  <div class="row">
    <div class="col-sm-9 col-xs-12">
      <div class="col-min">
        <div class="static-contain">
          <div class="page-title">
            <h2 class="entry-title">WHOLESALE</h2>
          </div>
          <div class="page-content">
            <p class="sub-content">Oaki currently operates a wholesale program for retailers nationwide and in Canada. We offer a tiered level of pricing for retailers to choose from so cost will depend on quantity. We do require our retailers to meet our order minimums and pay all shipping fees.</p>
            <p class="sub-content">To become an official wholesaler of Oaki please contact us for the Vendor Application, and Pricing Guide, at 360-573-5000 or email at <a href="mailto:info@oaki.com">info@oaki.com</a>.</p>
            <p class="sub-content">We look forward to working with you!</p>
            <form accept-charset="UTF-8" action="https://crm.zoho.com/crm/WebToLeadForm" method="POST" name="WebToLeads2348802000000158051">
              <h5><strong>Retail Customers</strong></h5>
              <div>
                <ul>
                  <li>
                    <div class="row">
                      <div class="col-md-3">
                        <label>Company <span class="gfield_required"> * </span></labe>
                      </div>
                      <div class="col-md-9">
                        <input name="company" id="company" type="text" value="" class="medium" tabindex="1" aria-required="true" aria-invalid="false" required>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="col-md-3">
                        <label>First Name <span class="gfield_required"> * </span></labe>
                      </div>
                      <div class="col-md-9">
                        <input name="first_name" id="first_name" type="text" value="" class="medium" tabindex="1" aria-required="true" aria-invalid="false" required>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="col-md-3">
                        <label>Last Name <span class="gfield_required"> * </span></labe>
                      </div>
                      <div class="col-md-9">
                        <input name="last_name" id="last_name" type="text" value="" class="medium" tabindex="1" aria-required="true" aria-invalid="false" required>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="col-md-3">
                        <label>Phone <span class="gfield_required"> * </span></labe>
                      </div>
                      <div class="col-md-9">
                        <input name="phone" id="phone" type="text" value="" class="medium" tabindex="1" aria-required="true" aria-invalid="false" required>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="col-md-3">
                        <label>Email <span class="gfield_required"> * </span></labe>
                      </div>
                      <div class="col-md-9">
                        <input name="email" id="email" type="text" value="" class="medium" tabindex="1" aria-required="true" aria-invalid="false" required>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="col-md-3">
                        <label>State <span class="gfield_required"> * </span></labe>
                      </div>
                      <div class="col-md-9">
                        <input name="state" id="state" type="text" value="" class="medium" tabindex="1" aria-required="true" aria-invalid="false" required>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="gform_footer top_label">
                <input type="submit" id="gform_submit_button_6" class="gform_button button" value="Get The 2017 Catalog Now">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
    </div>
  </div>
</div>
