<div class="container">
  <div class="row">
    <div class="col-sm-9 col-xs-12">
      <div style="margin:0 auto;" class="pxFormGenerator" id="hdmRkxNLNkWZtYHaK55vdw"></div>
    </div>
    <div class="col-sm-3 col-xs-12">
      {% include 'footer-menu-list'%}
    </div>
  </div>
</div>
