<div class="container terms-conditions-container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
      <div class="col-main">
        <div class="static-contain">
          <div class="page-title">
            <h2 class="entry-title"> TERMS AND CONDITIONS </h2>
          </div>
          <div class="page-content">
            <h3>Privacy Policy</h3>
            <p class="sub-content">The privacy of personal contact and payment information is top priority for
            us at Oaki. If you have any questions or concerns regarding how your
            personal information is used, please contact us at <strong><a href="mailto:info@oaki.com">info@oaki.com</a></strong>.
            <h3>Return Policy</h3>
            <p class="sub-content">Here at Oaki, we pride ourselves on ensuring kids have a great outdoor
            experience. If for any reason you need to return an item, or make an
            exchange for a different size, please contact us at  <strong><a href="mailto:info@oaki.com">info@oaki.com</a></strong> , or call
            us at (385) 515-2640. For more information, including our 60-day warranty
            promise, please see our <strong><a href="/pages/return-policy">Return Policy Page</a></strong></p>
            <h3>Shipping Info</h3>
            <p class="sub-content">Please note that shipping charges fall under three geographic regions: US,
              Canada &amp; International (outside US &amp; Canada). For details regarding
              shipping charges in your area, please see our <strong><a href="/pages/shipping">Shipping Info</a></strong> page, or
              contact us with additional questions at <strong><a href="mailto:info@oaki.com">info@oaki.com</a></strong>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
