<div class="container">
  <div class="row">
    <div class="col-sm-9 col-xs-12">
      <div style="margin:0 auto;" class="pxFormGenerator" id="V9WShQUVI3-X9YVwgJ_pog"></div>
    </div>
    <div class="col-sm-3 col-xs-12">
      <div class="col-main">
        <div class="static-contain">
          <div class="page-title">
            <h2 class="entry-title">CONTACT OAKI</h2>
          </div>
          <div class="page-content">
            <p><a href="https://www.google.com/maps/place/3639+W+2150+S,+West+Valley+City,+UT+84120/@40.7240306,-111.9806285,17z/data=!3m1!4b1!4m5!3m4!1s0x8752f337af5921af:0xa345c5432178f435!8m2!3d40.7240306!4d-111.9784398" target="_blank" rel="noopener">3639 W 2150 S<br>
            West Valley City, UT 84120</a></p>
            <p> <a href="tel:3605735000">360-573-5000</a> </p>
            <p><a href="mailto:info@oaki.com">info@oaki.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
