<div class="container return-policy-">
  <div class="row">
    <div class="col-sm-9 col-xs-12">
      <div class="col-main">
        <div class="static-contain">
          <div class="page-title">
            <h2 class="entry-title">RETURNS</h2>
          </div>
          <div class="page-content">
            <p>
              We hope you love your new Oaki products! Wrong size or color? Feel free to send it back unworn, tags still attached and with original packaging within 45 days of purchase and we’ll send you a new size or color or issue a quick refund (minus any shipping charges). We want to make returns easy for you!
              Please include your order number, name and address and a note indicating what you would like to exchange it for or if you prefer a refund.
              Return shipping is the responsibility of the customer (use any carrier of your choice). If your shipping address is within the continental U.S. and under 10 lbs, we will ship the new item(s) to you for free.
              Our shipping address is:
              Oaki, Inc.
              3639 W 2150 S
              West Valley City, UT 84120

              Feel free to reach out to us and let us know your items are on their way back to us at info@oaki.com. When we receive the item back in good condition we’ll get you the right size or color right away. If by chance there are signs of wear, damage or use we won’t be able to offer a refund or exchange (item will be shipped back to you).
              We do not accept any returns after 45 days of purchase date.
            </p>
            <h3>International Returns</h3>
            <p>
            All international returns will be done at the customers’ expense. We ask for all international customers to insure the items being returned with your mail provider of choice.
            </p>
            <h3>Manufacture Defects Warranty</h3>
            <p>
              All Oaki products come with a 60 day manufacturers defect warranty (from purchase date) <strong>We do not warranty normal wear and tear or damage to the product due to regular everyday use.</strong> We’re here to help! Please contact us if you have any questions at info@oaki.com
            </p>
            <h3>What IS Covered Under Manufacturers Defect Warranty:</h3>
                <p>
                  • Seams not properly attached/sewn together
                  • Leaking at seams after first use
                  • Waterproof items not keeping water out after first use
                  • Missing parts
                  • Products not assembled correctly

                  To qualify under our defects warranty items for return/exchange must be returned within 60 days of purchase. Please include your order number, name and address and a note indicating what you would like to exchange it for or if you prefer a refund.
                  We will pay shipping both ways in the event of a manufacture defects warranty, send us an email us at info@oaki.com for a return shipping label (continental U.S. only)

                </p>
              <h3>What IS Covered Under Manufacturers Defect Warranty:</h3>

              <p>
                Oops, did we make a mistake? We aim for 100% accuracy. Please email us at info@oaki.com if you received a damaged or incorrect item.
              </p>

              <h3>Clearance Items</h3>
              <p>
                All clearance items are sold as is and cannot be returned after purchase.
                <strong>This policy is firm and we can’t make any exceptions to be fair to all customers.</strong>
                <br>
                <br>
              </p>


        </div>
      </div>
    </div>
    <!-- <div class="col-sm-3 col-xs-12">
      {% include 'footer-menu-list' %}
    </div> -->
  </div>
</div>
