<div class="instagram-show-images">
  <div class="container">
    <div class="elfsight-sapp-1af48fb0-f479-11e7-8fd2-916edc9121f0" style="margin-bottom: 2%;"></div>
  </div>
</div>

{% schema %}
  {
    "name": "Instagram-Image-SlideShow",
    "presets": [
      {
        "name": "Instagram-Images",
        "category":"SlideShow"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
